body {
    padding-top: 75px;
    padding-bottom: 20px;
    background-color: rgba(0, 149, 156, 0.86);
    /*background-color: rgba(9, 113, 103, 0.55);*/
    color: #FFF;
    
font-size: 16px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
table { color:#333;}
thead{ color: #FFF;}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

legend { color:#FFF;}
textarea {
    min-width: 280px;
}
img{
    max-height:200px;
    max-width:200px;
}
.navbar-inverse {
    background-color: #06b0c1;
    height:auto;
    border-bottom: 1px solid rgba(238, 238, 238, 0.32);
}
.navbar-inverse .navbar-brand {
    color: #FFF;
}
.form-control{    border: 1px solid #08925f;}

.btn-info {
    color: #ffffff;
    background-color: #333;    
}
.btn {    
     border: 0px; 
}
.btn-default {
    color: #fff;
    background-color: #066560;   
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: rgba(6, 101, 96, 0.44);
    border-color: #adadad;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #5d5b5b;    
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #d2e1e2;
}
#lstCusProducts {
    background: #EEE;
    padding: 3px 3px;
    border: 1px solid #FFF;
    border-radius: 5px;
}
#tblCProducts_filter .form-control{
    display: inline-block;
    width: auto;
}

.customer-information{
    background: rgba(238, 238, 238, 0.14);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 10px 15px;
}
legend {
    border-bottom: 1px solid rgba(229, 229, 229, 0.49);
}
.frm-button{
    margin-top: 40px;
    margin-left: 60px;
}