

body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color:rgba(10, 75, 78, 0.86);
    /*background-color: rgba(0, 149, 156, 0.86);*/
    /*background-color: #2196F3;*/
    font-family: "Times New Roman", Georgia, Serif;
    color: #FFF;
    font-size: 16px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

table {
    color: #333;
}

thead {
    color: #FFF;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

legend {
    color: #FFF;
}

img {
    max-height: 200px;
    max-width: 200px;
}

.navbar-inverse {
    background-color: #06b0c1;
    height: auto;
    border-bottom: 1px solid rgba(238, 238, 238, 0.32);
}

    .navbar-inverse .navbar-brand {
        color: #FFF;
    }

.form-control {
    border: 1px solid #08925f;
}

.btn-info {
    color: #ffffff;
    background-color: #333;
}

.btn {
    border: 0px;
}

.btn-default {
    color: #fff;
    background-color: #066560;
}

    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        color: #ffffff;
        background-color: rgba(6, 101, 96, 0.44);
        border-color: #adadad;
    }

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #5d5b5b;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #d2e1e2;
}

.datatables {
    background: #EEE;
    padding: 3px 3px;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.dataTables_filter .form-control {
    display: inline-block;
    width: auto;
}

.customer-information {
    background: rgba(238, 238, 238, 0.14);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 10px 15px;
}

legend {
    border-bottom: 1px solid rgba(229, 229, 229, 0.49);
}

.frm-button {
    margin-top: 40px;
    margin-left: 60px;
}


div.tab {
    overflow: hidden;
    position: relative;
    bottom: -1px;
}

    /* Style the buttons inside the tab */
    div.tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px 21px;
        transition: 0.3s;
        font-size: 17px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
         background-color: #ccc;
      
        margin-right: 5px;
    }

        /* Change background color of buttons on hover */
        div.tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        div.tab button.active {
             background-color: rgb(9, 226, 186);
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}






 

html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
    background-color: #1b78bb;
    padding-left: 0;
    padding-right: 0px;
    float: left;
    min-height: 100%;
}

#sidebar .collapse.in {
    display: inline;
}
.nav > li:last-child a{ 
    border:0px !important;
}
#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}
.nav .caret {    
    float: right;
}

#main {
    padding: 15px;
    left: 0;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }
    
    #main {
        width: 1%;
        left: 0;
    }
    
    #sidebar .visible-xs {
       display:inline !important;
    }
    
    .row-offcanvas {
       position: relative;
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
    }
    
    .row-offcanvas-left.active {
       left: 45%;
    }
    
    .row-offcanvas-left.active .sidebar-offcanvas {
       left: -45%;
       position: absolute;
       top: 0;
       width: 45%;
    }
} 
 
 
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 3%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width:42px;
  }
  
  #main {
    left: 0;
  }
}
@media (min-width: 768px) {
    .col-sm-3 {
        width: 15%;
    }
}

a {
    color: rgb(240, 241, 240);
    text-decoration: none;
}

a:hover {
            background-color: #ddd;
        }
h2{
    margin-top:0px;
}
/*.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #f1e6e6 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}*/