<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="ShopDevEntities" connectionString="metadata=res://*/ShopDev.csdl|res://*/ShopDev.ssdl|res://*/ShopDev.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHETUIWK389\SQL2014;initial catalog=ShopDev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="ShopDevEntities" connectionString="metadata=res://*/ShopDB.csdl|res://*/ShopDB.ssdl|res://*/ShopDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5ae8b958-e1b9-47fb-b352-a7c400ba93b4.sqlserver.sequelizer.com;initial catalog=db5ae8b958e1b947fbb352a7c400ba93b4;persist security info=True;user id=cnlozikjazcphnni;password=Thhb4DnhGeLwrFU7zK4nQFBvQEDutDicVqPe5HFJss8ZRceAihjNLrLmNTsxa2Wd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>