
@model Web.Models.ViewModel.SellerViewModel

<table class="table table-striped" id="tblinstallment">
    <thead>
        <tr>

            <th>
                Amount
            </th>
            <th>
                Date
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LstInstallments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ProductID })*@
                    <button id="@item.SellerInstallmentID" class="btn btn-default btnInstallmetedit">Edit</button>
                    @Ajax.ActionLink("Delete", "DeleteInstallment", "Sellers", new { InstallmentID = item.SellerInstallmentID, buyerID = item.SellerID },
                    new AjaxOptions
                    {
                        Confirm = "are you sure to perform the deletion.",
                        HttpMethod = "POST",
                        UpdateTargetId = "lstinstallment",
                        OnSuccess = "RefreshInstallmentDatatable",
                    })
                </td>
            </tr>
        }
    </tbody>
</table>

