@model Web.Models.ViewModel.BulkBuySearchViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center><h2>All bulks</h2></center>
<script src="~/Scripts/Pages/BulkBuy.js"></script>
<p style="margin-bottom:2px;">
    @Html.ActionLink("Create New", "Create", "BulkBuys", null, new { @class = "btn btn-default" })
</p>
<div class="customer-information">
    <div class="customer-information">
        @using (Ajax.BeginForm("Search", "BulkBuys",
                                                                                                                                                                                          new AjaxOptions
                                                                                                                                                                                          {
                                                                                                                                                                                              OnBegin = "BulkShowModel",
                                                                                                                                                                                              HttpMethod = "Post",
                                                                                                                                                                                              UpdateTargetId = "lstCusProducts",
                                                                                                                                                                                              OnSuccess = "RefreshBulksGrid"
                                                                                                                                                                                          }))
        {
            <div id="ajaxform">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label> Customer Name </label>
                        @Html.TextBoxFor(model => model.BulkBuy.CustomerName, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3 form-group">
                        <label> Customer Code </label>
                        @Html.TextBoxFor(model => model.BulkBuy.CustomerCode, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3 form-group">

                        <input type="submit" class="btn btn-default frm-button" id="btnAjaxSubmit" value="Search" />
                    </div>
                    <div class="col-md-3 form-group">


                    </div>

                </div>
                <div class="row">

                    <div class="col-md-6 form-group">
                    </div>
                    <div class="col-md-3 form-group">

                    </div>
                </div>
            </div>

        }
        <div id="lstCusProducts">
            @Html.Partial("~/Views/BulkBuys/_bulkBuySearch.cshtml", Model)
        </div>

    </div>
</div>
 
